@font-face {
  font-family: 'icomoon-md';
  src:
    url('fonts/icomoon-md.ttf?pcy0kw') format('truetype'),
    url('fonts/icomoon-md.woff?pcy0kw') format('woff'),
    url('fonts/icomoon-md.svg?pcy0kw#icomoon-md') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-md-"], [class*=" icon-md-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-md' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-md-crop_free:before {
  content: "\e900";
}
.icon-md-deselect:before {
  content: "\e901";
}
.icon-md-ink_selection:before {
  content: "\e902";
}
.icon-md-remove_selection:before {
  content: "\e903";
}
.icon-md-resize:before {
  content: "\e90b";
}
.icon-md-activity_zone:before {
  content: "\e904";
}
.icon-md-block:before {
  content: "\e905";
}
.icon-md-circle:before {
  content: "\e906";
}
.icon-md-close:before {
  content: "\e907";
}
.icon-md-restart_alt:before {
  content: "\e908";
}
.icon-md-collapse_all:before {
  content: "\e909";
}
.icon-md-download:before {
  content: "\e90a";
}
