@charset "UTF-8";
/*! =====このcssファイルはsassから生成されています。===== */

//設定ファイルの読み込み
@use "mono_dark_conf" as val;
// @use "mono_deep_conf" as val;
// @use "mono_main_conf" as val;
// @use "mono_mayo_conf" as val;

//リセット
* {
	margin: 0;
	padding: 0;
  }
  
  //iOS対策
  label {
	cursor: pointer;
  }
  
  //全体的指定
  body {
	background-color: val.$ushiro;
	color: val.$moji;
	font-family: sans-serif;
	overflow-wrap: anywhere;
	margin: 10.5px;
  }
  a:link {
	color: val.$link;
  }
  a:visited {
	color: val.$link_visited;
  }
  a:active {
	color: val.$link_active;
  }
  a:hover {
	color: val.$link_hover;
  }
  h2 a:link {
	color: val.$moji;
  }
  h2 a:visited {
	color: val.$moji;
  }
  h2 a:active {
	color: val.$moji;
  }
  h2 a:hover {
	color: val.$moji;
	background-color: val.$h2_hover;
  }
  h2 a {
	  display: block;
	  text-decoration: none;
  }
  hr {
	border: dashed 1px val.$border;
	margin: 1ex auto;
  }
  hr.hr {
	clear: both;
  }
  header, main > section > .thread, main > div#catalog, footer > div, footer > div.copy, main > section > .thread, footer > div {
	  background-color: val.$haikei;
	  padding: 8px;
	}
	header, main > section > .thread, main > div#catalog, footer > div, footer > div.copy {
	  margin: 0px auto;
	  display: block;
	  max-width: 1350px;
	  border: solid 1px val.$border;
  }
	  
  footer > div form {
	  text-align: right;
	}
  footer > div.copy {
		  text-align: right;
  }
  input, textarea, select, .se {
	  border-style: solid;
	border-color: val.$b_border_u val.$b_border val.$b_border val.$b_border_u;
	border-width: 1px;
	color: val.$form_txt;
	background-color: val.$form_txt_bk;
	padding: 3px;
  }
  textarea {
  width: 25em;
	height: 5em;
  }
  button, button.copy_button, .button {
	  border-style: solid;
	border-color: val.$b_border val.$b_border_u val.$b_border_u val.$b_border;
	border-width: 1px;
	color: val.$form_txt;
	background-color: val.$form_txt_bk;
  }
  .button.delbtton {
    margin: 12px 0 5px;
  }
  select {
	padding: 2px;
	vertical-align: middle;
  }
  select[name="picw"], select[name="pich"] {
	width: 4em;
  }
  select[name="shi"] {
	width: initial;
  }
  input[name="del[]"], textarea[name="del[]"], select[name="del[]"], .se[name="del[]"] {
	  width: 4em;
	}
	input[name="pwd"], textarea[name="pwd"], select[name="pwd"], .se[name="pwd"],input[name="pass"] {
	  width: 6em;
	}
	input[value="お絵かき"], textarea[value="お絵かき"], select[value="お絵かき"], button.copy_button, .se[value="お絵かき"], .button {
	  background-color: val.$button;
	  color: val.$button_moji;
	}
	
	input[name="upfile"], textarea[name="upfile"], select[name="upfile"], .se[name="upfile"] {
	  width: 25em;
	}
	input.copy_txt, textarea.copy_txt, select.copy_txt, .copy_txt.se {
	  width: 1px;
	  height: 1px;
	  position: relative;
	  vertical-align: middle;
	  left: 2em;
	  z-index: -1;
	}
	button.copy_button, .copy_button.button {
	padding: 3px 1ex 3px 1ex;
	display: inline-block;
  }
  em.thispage {
	font-weight: bold;
	font-style: normal;
  }
  .se {
		  color: val.$form_txt;
		  background-color: val.$form_txt_bk;
		  font-style: normal;
  }
  
  .name {
	line-height: 1em;
	border: solid 1px val.$button;
	border-radius: 5px;
	display: inline-block;
	a {
	  text-decoration: none;
	  display: block;
	  padding: 5px;
	  color: inherit;
	}
  }
  .name:hover {
	background-color: val.$name_hover;
  }
  
  h1 a {
	text-decoration: none;
  }
  
  h2 {
	border-left: solid 1ex val.$border;
	background-color: val.$th_bg;
  }
  h3 {
	margin-top: 1ex;
  }
  
  h1 + div {
	  text-align: right;
  }
  
  
  figure {
	float: left;
	margin: 0 8px 1em 0;
	img {
	  height: auto;
	  max-width: 100%;
	}
  }
  figcaption {
	font-size: smaller;
	margin: 10px 0;
  }
  .img_info_wrap {
	font-size: smaller;
	margin: 10px 0;
  } 
  ul {
	list-style-type: none;
	font-size: smaller;
  }
  ul.menu {
	font-size: medium;
	line-height: 2em;
  }
  .comment_wrap {
	min-width: 350px;
	display: table;
  }

  .res {
	display: table;
	section {
	  display: table;
	}
	h3, h4 {
	  font-size: 100%;
	  margin-bottom: 1ex;
	}
	figure {
	  float:none;
	  margin:0
	}
	figure img {
	  // float: left;
	  margin: 0 0 1em 0;
	  }
  }
  
  
  .resma {
	color: val.$resmoji;
  }
  .thfoot {
	clear: left;
	text-align: right;
  }
  .button {
	  padding: 3px 1ex 3px 1ex;
	  display: inline-block;
	a {
	  text-decoration: none;
	  color: val.$button_moji;
	  i {
		color: val.$button_moji;
	  }
	}
  }
  
  
  .oyano {
	  padding-left: 5px;
	}
	
  .oyano, .oyaresno {
	font-weight: bold;
  }
  .oekaki {
	font-size: smaller;
	padding-left: 5px; ;
  }
  div.tmpimg {
	  margin: 15px 0 0;
  }
  .siihelp h2 {
	  padding-left: 5px;
	  margin: 15px 0;
  }
  .siihelp ul {
	  font-size: inherit;
  }
  p.err {
	  margin: 15px 0;
  }
  form.adminin {
	  margin: 15px 0;
  }
  div#appstage,div#chickenpaint-parent{
	letter-spacing: initial;
	word-break:initial;
	overflow-wrap: initial;
  }
 #appstage {
	display: block;
	text-align: center;
	> * {
	  display: inline-block;
	  vertical-align: middle;
	}
  }
  .siihelp dd {
	  margin: 0 0 12px;
  }
  
  .siihelp dt {
	  display: list-item;
	  margin: 3px 0;
	  list-style: circle;
	  list-style-position: inside;
	  padding-left: 5px;
  }
  .NEO {
	.color_bk { color: val.$bk; }
	.color_bk2 { color: val.$bk2; }
	.color_tool_icon { color: val.$tool_icon; }
	.color_icon { color: val.$icon; }
	.color_iconselect { color: val.$iconselect; }
	.color_text { color: val.$text; }
	.color_bar { color: val.$bar; }
	.tool_color_button { color: val.$tool_button; }
	.tool_color_button2 { color: val.$tool_button2; }
	.tool_color_text { color: val.$tool_text; }
	.tool_color_bar { color: val.$tool_bar; }
	.tool_color_frame { color: val.$tool_frame; }
  }
  .palette {
	width: 180px;
	fieldset {
	  text-align: center;
	  textarea {
		width: 120px;
		height: 1.2em;
	  }
	}
  }
  .palette_select {
	  max-width: 100%;
	  min-width: 78%;
  }
  .c {
	text-align: center;
  }
  #catalog > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	div {
	  width: val.$cat_img_size + 16px;
	  text-align: center;
	  overflow: hidden;
	}
	p {
	  display: table;
	  margin: 0.5ex auto;
	}
	p a {
	  display: table-cell;
	  width: val.$cat_img_size;
	  height: val.$cat_img_size;
	  vertical-align: middle;
	}
	img {
	  max-width: 100%;
	  height: auto;
	  vertical-align: middle;
	}
  }
  .delfo {
	font-size: smaller;
	th, td {
	  border: 1px solid val.$ushiro;
	}
	tr:nth-child(odd) {
	  background-color: val.$th_bg;
	}
  }
  .page {
	  margin: 15px 0;
	  text-align: center;
	  line-height: 2.2;
  }
  .page a ,.page .thispage {
    margin: 0 3px;
  }
 // 前後のスレッドの画像を表示
  .view_other_works {
	  text-align: center;
	  margin: 15px 0;
	}
  .view_other_works div{
	  width: 16.1%;
	  height:auto;margin-right: 0.6%;
	  display: inline-block;
	  max-height: 200px;
	  overflow: hidden;
	  vertical-align: top;
  }
  .view_other_works img{
	  width: 100%;
	  height:auto;
  }
  .view_other_works div:nth-of-type(6n) {
	  margin-right: 0;
  }
  
 /* スクロールすると出てくる「トップへ戻る」ボタン */
/* https://cotodama.co/pagetop/ */
#page_top {
	width: 50px;
	height: 50px;
	position: fixed;
	right: 0;
	bottom: 50px;
	background: val.$button;
	opacity: .5;
	border-radius: 50%
}

#page_top a {
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	text-decoration: none
}

#page_top a::before {
	font-weight: 900;
	font-size: 25px;
	color: #fff;
	position: absolute;
	width: 25px;
	height: 25px;
	top: -5px;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	text-align: center
}


//以下レスポンシブ対応
  .pcdisp{
	  display: block;
  }
  .mobiledisp{
	  display: none;
  }
  
  @media screen and (max-width: 767px) {
	.thread figure {
		margin-right: 0;
		float: none;
	}
	.comment_wrap {
		min-width: initial;
	}

	.res {
			  clear: left;
		  }
	  body{
		  margin: 6px;
	  }
	  .pcdisp{
		  display: none;
	  }
	  .mobiledisp{
		  display: block;
		  margin: 15px 0;
		  white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;
		  line-height: 1.8;
	  }
  }
  
  @media screen and (max-width: 450px) {
	textarea, input[name="upfile"] {
	  width: 15em;
	}
	#appstage {
	  display: block;
	}
  }
  
  //----------
  
  #search {
	body {
	  margin: 8px 10px;
	  font-family: "Hiragino Sans", meiryo, ヒラギノ角ゴシック, メイリオ, sans-serif;
	  font-size: 16px;
	  line-height: 150%;
	  color: val.$moji;
	  background-color: val.$haikei;
	  letter-spacing: .08em
	}
  
	h1 {
	  font-size: 16px;
	  display: inline-block;
	  margin: 0
	}
  
	h2 {
	  font-weight: 400;
	  font-size: 16px;
	  display: inline-block;
	  margin: 0 0 8px;
	  background-color: inherit;
	  padding-left: 5px;
	}
  
	h2 a {
	  color: val.$moji;
	}
   
	h2 a:hover {
	  color: val.$moji;
	  background-color: val.$haikei;
	}
	
	h3 {
	  font-size: 16px;
	  font-weight: 400;
	  margin: 0
	}
  
	.title {
	  color: val.$search_title_color;
	  border-left: solid 1ex val.$border;
	  background-color: val.$th_bg;
	  padding: 6px 5px 2px;
	  margin: 0 0 10px
	}
  
	a {
	  color: val.$search_a_color;
	  text-decoration: underline
	}
	a:hover {
	  text-decoration: none
	}
  
	#main {
	  margin: 0 auto;
	  width: 928px
	}
  
	.newimg {
	  margin: 19px 0 10px 0;
	  line-height: 1;
	}
	.newimg ul {
	  margin: 0;
	  padding: 0
	}
	.newimg li {
	  display: inline-block
	}
	.newimg li:nth-of-type(5n) {
	  margin-right: 0
	}
  
	.catalog {
	  width: 180px;
	  margin: 0 5px 5px 0
	}
	.catalog img {
	  width: 100%;
	  vertical-align: text-top;
	  border: none
	}
  
	.clear {
	  clear: both
	}
  
	.leftbox {
	  float: left
	}
	.rightbox {
	  float: right
	}
	.leftbox,
	.rightbox {
	  width: auto;
	  margin: 1px 0 16px;
	}
  
	p{
	  margin: 1em 0;
	}
  
	.title_wrap {
	  display: inline-block
	}
  
	input[type=text] {
	  height: 20px;
	  width: 180px;
	  border: 1px solid;
	  color: val.$search_input_text_color;
	  border-color: val.$search_input_text_border-color;
	  background-color: val.$search_input_text_background-color;
	  vertical-align: middle
	}
	input[type=text]:hover {
	  background-color: val.$search_input_text_hover;
	}
  
	input[type=submit] {
	  background-color: val.$button;
	  color: val.$button_moji;
	  border: 1px solid;
	  border-color: val.$search_input_submit_border-color;
	  vertical-align: middle
	}
  
	.menu {
	  margin: 16px 0 14px
	}
  
	.name {
	  font-weight: 700;
	  color: inherit;
	  display: inline-block;
	  border: solid 1px val.$button;
	  border-radius: 6px;
	  line-height: 1em;
	}
	.name:hover {
	  background-color: val.$name_hover;
	}
  
	.name a {
	  color: val.$search_name_a_color;
	  display: block;
	  padding: 5px;
	}
  
	.comments_title_wrap a {
	  text-decoration: none;
	}
  
	.res_button_wrap {
	  text-align: right;
	  margin: 8px 0 -8px;
	}
	.res_button_wrap form {
	  display: inline-block;
	  width: 200px;
	  vertical-align: inherit;
	}
  
	.page_top {
	  display: inline-block;
	  margin: 0 0 0 6px;
	  vertical-align: -webkit-baseline-middle;
	}
  
	.res_button {
	  width: 5em;
	}
	.res_button form {
	  display: inherit;
	}
  
	.comments_title_wrap {
	  display: block;
	  line-height: 2em;
	  margin: 8px 0 5px;
	}
  
	input[type=radio] {
	  display: none;
	}
	input[type=radio]:checked+label {
	  color: val.$label_hover_color;
	  background: val.$search_label_hover_background-color;
	}
  
	.label {
	  color: val.$search_label_color;
	  display: inline-block;
	  padding: 0 10px;
	  text-align: center;
	  cursor: pointer;
	  border: 2px solid val.$button;
	  border-radius: 15px;
	}
	.label:hover {
		color: val.$label_hover_color;
		background-color: val.$search_label_hover_background-color;
	}
  
	.radio {
	  display: inline-block;
	  margin: 0 0 16px 0;
	}
  
	@media screen and (max-width:967px) {
	  #main {
		width: 736px;
	  }
	  .newimg li:nth-of-type(5n) {
		margin-right: 5px;
	  }
	  .newimg li:nth-of-type(4n) {
		margin-right: 0;
	  }

	  input, textarea, select, .se {
		margin: 5px 3px;
	  }
	  
	}
  
	@media screen and (max-width:767px) {
	  #main {
		width: 100%;
	  }
	  .newimg {
		padding: 5px 0 0 0;
	  }
	  .catalog {
		width: 24.2%;
		margin: 0 1.0666% 3px 0;
	  }
	  .newimg li:nth-of-type(5n) {
		margin-right: 1.0666%;
	  }
	  .newimg li:nth-of-type(4n) {
		margin-right: 0;
	  }
	}
  }