<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="<% echo(charset) %>">
		<% def(paint_mode) %>
		<% def(pinchin) %>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<% elsedef %>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
		<% /def %>
		<% /def %>
		<% def(pch_mode) %><meta name="viewport" content="width=device-width"><% /def %>
		<% def(continue_mode) %><meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"><% /def %>
		<% def(useneo) %>
		<link rel="stylesheet" href="neo.css<% def(parameter_day) %>?<% echo(parameter_day)%><% /def %>" type="text/css">
		<script src="neo.js<% def(parameter_day) %>?<% echo(parameter_day)%><% /def %>" charset="UTF-8"></script>
		<% /def %>
		<% def(pch_mode) %>
		<link rel="stylesheet" href="neo.css<% def(parameter_day) %>?<% echo(parameter_day)%><% /def %>" type="text/css">
		<script src="neo.js<% def(parameter_day) %>?<% echo(parameter_day)%><% /def %>" charset="UTF-8"></script>
		<% /def %>
		<% def(chickenpaint)%>
		<style>
		div#chickenpaint-parent :not(input){
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		</style>
		<script>
		/* Check for native pointer event support before PEP adds its polyfill */
		if (window.PointerEvent) {
			window.hasNativePointerEvents = true;
		}
		</script>

<script src="chickenpaint/js/chickenpaint.min.js<% def(parameter_day) %>?<% echo(parameter_day)%><% /def %>"></script>
<link rel="stylesheet" type="text/css" href="chickenpaint/css/chickenpaint.css<% def(parameter_day) %>?<% echo(parameter_day)%><% /def %>">


		<% elsedef %>
		<style>body{overscroll-behavior-x: none !important; }</style>
	<!-- Determine if Java can be used Load cheerpJ if not -->
		<script>
		function cheerpJLoad() {
		var jEnabled = navigator.javaEnabled();
		if(!jEnabled){
			var sN = document.createElement("script");
            sN.src = "<% def(cheerpj_url)%><% echo(cheerpj_url)%><% elsedef %>https://cjrtnc.leaningtech.com/2.2/loader.js<% /def %>";
			var s0 = document.getElementsByTagName("script")[0];
			s0.parentNode.insertBefore(sN, s0);
			sN.addEventListener("load", function(){ cheerpjInit(); }, false);
			}
		}
		window.addEventListener("load", function() { cheerpJLoad(); }, false);
		</script>
		<% /def %>
		<script>
			var css = GetCookie("CSS");
			if(css == ""){css = "<% echo(skindir) %>css/mono_main.css";}
			var link = document.createElement("link");
			link.rel = "stylesheet";
			link.href =  css ;
			document.getElementsByTagName("head")[0].appendChild(link);
			function SetCss(obj){
				var idx = obj.selectedIndex;
				file = obj.options[idx].value;
				SetCookie("CSS", file);
				SetCookie("colorIdx",idx);
				window.location.reload();
			}
			function GetCookie(key){
				var tmp = document.cookie + ";";
				var tmp1 = tmp.indexOf(key, 0);
				if(tmp1 != -1){
					tmp = tmp.substring(tmp1, tmp.length);
					var start = tmp.indexOf("=", 0) + 1;
					var end = tmp.indexOf(";", start);
					return(decodeURIComponent(tmp.substring(start,end)));
					}
				return("");
			}
			function SetCookie(key, val){
				document.cookie = key + "=" + escape(val) + ";max-age=31536000;";
			}
		</script>
		<noscript>
			<link rel="stylesheet" href="<% echo(skindir) %>css/mono_main.css" type="text/css">
		</noscript>

		<title><% echo(title) %></title>
	</head>
	<body id="paintmode">
		<% def(chickenpaint)%>


		<% elsedef %>

		<header>
			<h1><a href="<% echo(self2) %>"><% echo(title) %></a></h1>
			<div>
				<a href="<% echo(home) %>" target="_top">[home]</a>
				<a href="<% echo(self) %>?mode=admin">[admin mode]</a>
			</div>
			<hr>
			<article>
				<p class="menu">
					<a href="./">[back]</a>
				</p>
			</article>
			<hr>
			<% def(paint_mode) %>
			<h2 class="oekaki">PAINT MODE</h2>
			<% /def %>
			<% def(continue_mode) %>
			<h2 class="oekaki">CONTINUE MODE</h2>
			<% /def %>
		</header>
		<% /def %>

		<main>
			<% def(paint_mode) %>
		<% def(chickenpaint) %>

		<div id="chickenpaint-parent"></div>
		<p></p>
		
		<script>
		document.addEventListener("DOMContentLoaded", function() {
			new ChickenPaint({
				uiElem: document.getElementById("chickenpaint-parent"),
				canvasWidth: <% echo(picw) %>,
			canvasHeight: <% echo(pich) %>,
		
			<% def(imgfile) %>loadImageUrl: "<% echo(imgfile) %>",<% /def %>
			<% def(img_chi) %>loadChibiFileUrl: "<% echo(img_chi) %>",<% /def %>
			saveUrl: "save.php?usercode=<% echo(usercode) %>",
			postUrl: "?mode=<% echo(mode) %>&stime=<% echo(stime) %>",
			exitUrl: "?mode=<% echo(mode) %>&stime=<% echo(stime) %>",
		
				allowDownload: true,
				resourcesRoot: "chickenpaint/",
				disableBootstrapAPI: true
			});
		})
		</script>
						<% elsedef %>
					<!-- (========== PAINT MODE start ==========) -->
					<script>
						var DynamicColor = 1;
						var Palettes = new Array();
						<% def(palettes) %>
						<% echo(palettes) %>
						<% /def %>
						function setPalette(){d=document;d.paintbbs.setColors(Palettes[d.Palette.select.selectedIndex]);d.grad.view.checked&&GetPalette()}function PaletteSave(){Palettes[0]=String(document.paintbbs.getColors())}var cutomP=0;
						function PaletteNew(){d=document;p=String(d.paintbbs.getColors());s=d.Palette.select;Palettes[s.length]=p;cutomP++;str=prompt("Palette name","Palette "+cutomP);null==str||""==str?cutomP--:(s.options[s.length]=new Option(str),30>s.length&&(s.size=s.length),PaletteListSetColor())}function PaletteRenew(){d=document;Palettes[d.Palette.select.selectedIndex]=String(d.paintbbs.getColors());PaletteListSetColor()}
						function PaletteDel(){p=Palettes.length;s=document.Palette.select;i=s.selectedIndex;if(-1!=i&&(flag=confirm("Are you sure you want to delete ["+s.options[i].text + "] ?"))){for(s.options[i]=null;p>i;)Palettes[i]=Palettes[i+1],i++;30>s.length&&(s.size=s.length)}}
						function P_Effect(a){a=parseInt(a);x=1;255==a&&(x=-1);d=document.paintbbs;p=String(d.getColors()).split("\n");l=p.length;var f="";for(n=0;l>n;n++)R=a+parseInt("0x"+p[n].substr(1,2))*x,G=a+parseInt("0x"+p[n].substr(3,2))*x,B=a+parseInt("0x"+p[n].substr(5,2))*x,255<R?R=255:0>R&&(R=0),255<G?G=255:0>G&&(G=0),255<B?B=255:0>B&&(B=0),f+="#"+Hex(R)+Hex(G)+Hex(B)+"\n";d.setColors(f);PaletteListSetColor()}
						function PaletteMatrixGet(){d=document.Palette;p=Palettes.length;s=d.select;m=d.m_m.selectedIndex;t=d.setr;switch(m){default:t.value="";for(c=n=0;p>n;)null!=s.options[n]&&(t.value=t.value+"\n!"+s.options[n].text+"\n"+Palettes[n],c++),n++;alert("Number of pallets "+c+"\n got the palette matrix.");break;case 1:t.value="!Palette\n"+String(document.paintbbs.getColors())
						alert("got the palette information currently used.")}t.value=
						t.value.trim()+"\n!Matrix"}
						function PalleteMatrixSet(){m=document.Palette.m_m.selectedIndex;str="Set the palette matrix.";switch(m){default:flag=confirm(str+"\n All current palette information will be lost, is that okay ?");break;case 1:flag=confirm(str+"\n現在使用しているパレットと置き換えますがよろしいですか？");break;
						case 2:flag=confirm(str+"\n Are you sure you want to replace it with the palette you are currently using ?")}flag&&(PaletteSet(),s.size=30>s.length?s.length:30,DynamicColor&&PaletteListSetColor())}
						function PalleteMatrixHelp(){alert("**ABOUT PALETTE MATRIX**\n The palette matrix allows you to use free palette settings \n by using text that lists palette information.\n\nGet the matrix\n1)Get the palette matrix from the [Get] button.\n2)The retrieved information will appear in the text area below, copy it all.\n3)Let's save this matrix information as text in a file.\n\nto set matrix\n1)Paste the copied matrix into the text area below.\n2)If you have saved it in a file, copy and paste it.\n3)You can use the saved palette by pressing the set button.\n\nPlease note that the palette will not be set correctly if there is unnecessary information.")}
						function PaletteSet(){d=document.Palette;se=d.setr.value;s=d.select;m=d.m_m.selectedIndex;l=se.length;if(1>l)alert("There is no matrix information.");else{e=o=n=0;switch(m){default:for(n=s.length;0<n;)n--,s.options[n]=null;case 2:i=s.options.length;n=se.indexOf("!",0)+1;if(0==n)return;Matrix1=1;for(Matrix2=-1;n<l;){e=se.indexOf("\n#",n);if(-1==e)return;pn=se.substring(n,e+Matrix1);o=se.indexOf("!",e);if(-1==o)return;pa=se.substring(e+1,o+Matrix2);
						"Palette"!=pn?(0<=i&&(s.options[i]=new Option(pn)),Palettes[i]=pa,i++):document.paintbbs.setColors(pa);n=o+1}break;case 1:n=se.indexOf("!",0)+1;if(0==n)return;e=se.indexOf("\n#",n);o=se.indexOf("!",e);0<=e&&(pa=se.substring(e+1,o-1));document.paintbbs.setColors(pa)}PaletteListSetColor()}}function PaletteListSetColor(){var a=document.Palette.select;for(i=1;a.options.length>i;i++){var f=Palettes[i].split("\n");a.options[i].style.background=f[4];a.options[i].style.color=GetBright(f[4])}}
						function GetBright(a){r=parseInt("0x"+a.substr(1,2));g=parseInt("0x"+a.substr(3,2));b=parseInt("0x"+a.substr(5,2));a=r>=g?r>=b?r:b:g>=b?g:b;return 128>a?"#FFFFFF":"#000000"}function Chenge_(){var a=document.grad.pst.value,f=document.grad.ped.value;isNaN(parseInt("0x"+a))||isNaN(parseInt("0x"+f))||GradView("#"+a,"#"+f)}
						function ChengeGrad(){var a=document,f=a.grad.pst.value,h=a.grad.ped.value;Chenge_();var u=parseInt("0x"+f.substr(0,2)),v=parseInt("0x"+f.substr(2,2));f=parseInt("0x"+f.substr(4,2));var k=parseInt((u-parseInt("0x"+h.substr(0,2)))/15),q=parseInt((v-parseInt("0x"+h.substr(2,2)))/15);h=parseInt((f-parseInt("0x"+h.substr(4,2)))/15);isNaN(k)&&(k=1);isNaN(q)&&(q=1);isNaN(h)&&(h=1);var w=new String;cnt=0;m1=u;m2=v;for(m3=f;14>cnt;cnt++,m1-=k,m2-=q,m3-=h){if(255<m1||0>m1)k*=-1,m1-=k;if(255<m2||0>m2)q*=-1,
						m2-=q;if(255<m3||0>m3)h*=-1,m2-=h;w+="#"+Hex(m1)+Hex(m2)+Hex(m3)+"\n"}a.paintbbs.setColors(w)}function Hex(a){a=parseInt(a);0>a&&(a*=-1);for(var f=new String,h;16<a;)h=a,16<a&&(a=parseInt(a/16),h-=16*a),h=Hex_(h),f=h+f;h=Hex_(a);for(f=h+f;2>f.length;)f="0"+f;return f}function Hex_(a){isNaN(a)?a="":10==a?a="A":11==a?a="B":12==a?a="C":13==a?a="D":14==a?a="E":15==a&&(a="F");return a}
						function GetPalette(){d=document;p=String(d.paintbbs.getColors());"null"!=p&&""!=p&&(ps=p.split("\n"),st=d.grad.p_st.selectedIndex,ed=d.grad.p_ed.selectedIndex,d.grad.pst.value=ps[st].substr(1.6),d.grad.ped.value=ps[ed].substr(1.6),GradSelC(),GradView(ps[st],ps[ed]),PaletteListSetColor())}
						function GradSelC(){if(d.grad.view.checked){d=document.grad;l=ps.length;pe="";for(n=0;l>n;n++)R=255+-1*parseInt("0x"+ps[n].substr(1,2)),G=255+-1*parseInt("0x"+ps[n].substr(3,2)),B=255+-1*parseInt("0x"+ps[n].substr(5,2)),255<R?R=255:0>R&&(R=0),255<G?G=255:0>G&&(G=0),255<B?B=255:0>B&&(B=0),pe+="#"+Hex(R)+Hex(G)+Hex(B)+"\n";pe=pe.split("\n");for(n=0;l>n;n++)d.p_st.options[n].style.background=ps[n],d.p_st.options[n].style.color=pe[n],d.p_ed.options[n].style.background=ps[n],d.p_ed.options[n].style.color=pe[n]}}function GradView(a,f){d=document}function showHideLayer(){d=document;var a=d.layers?d.layers.psft:d.all("psft").style;d.grad.view.checked||(a.visibility="hidden");d.grad.view.checked&&(a.visibility="visible",GetPalette())};
					</script>
					<noscript>
						<p>JavaScript isn't working</p>
					</noscript>
		
		
						<article id="appstage">
							<div class="app">
			

					<% def(paintbbs) %>
					<% def(useneo) %>
					<applet-dummy code="pbbs.PaintBBS.class" archive="./PaintBBS.jar" name="paintbbs" width="<% echo(w) %>" height="<% echo(h) %>" mayscript>
					<% elsedef %>
					<applet code="pbbs.PaintBBS.class" archive="./PaintBBS.jar" name="paintbbs" width="<% echo(w) %>" height="<% echo(h) %>" mayscript>
					<% /def %>
					<% /def %>
					<!--(========== Shi-Painter settings ==========)-->
					<% def(normal) %>
					<applet code="c.ShiPainter.class" archive="spainter_all.jar" name="paintbbs" WIDTH="<% 	echo(w) %>" HEIGHT="<% echo(h) %>" mayscript>
						<param name=dir_resource value="./">
						<param name="tt.zip" value="tt_def.zip">
						<param name="res.zip" value="res.zip">
						<param name=tools value="normal">
						<param name=layer_count value="<% echo(layer_count) %>">
						<% def(quality) %><param name=quality value="<% echo(quality) %>"><% /def %>
						<% /def %>
						<!--(========== Shi-Painter Pro settings ==========)-->
					<% def(pro) %>
					<applet code="c.ShiPainter.class" archive="spainter_all.jar" name="paintbbs" WIDTH="<% 	echo(w) %>" HEIGHT="<% echo(h) %>" mayscript>
						<param name=dir_resource value="./">
						<param name="tt.zip" value="tt_def.zip">
						<param name="res.zip" value="res.zip">
						<param name=tools value="pro">
						<param name=layer_count value="<% echo(layer_count) %>">
						<% def(quality) %><param name=quality value="<% echo(quality) %>"><% /def %>
						<% /def %>
						<!--(========== common settings, cannot edit ==========)-->
						<param name="image_width" value="<% echo(picw) %>">
						<param name="image_height" value="<% echo(pich) %>">
						<param name="image_jpeg" value="<% echo(image_jpeg) %>">
						<param name="image_size" value="<% echo(image_size) %>">
						<param name="compress_level" value="<% echo(compress_level) %>">
						<param name="undo" value="<% echo(undo) %>">
						<param name="undo_in_mg" value="<% echo(undo_in_mg) %>">
						<param name="url_save" value="picpost.php">
						<param name="url_exit" value="<% echo(self) %>?mode=<% echo(mode) %>&amp;stime=<% echo(stime) %>">
						<% def(anime) %><param name="thumbnail_type" value="animation"><% /def %>
						<% def(pchfile) %><param name="pch_file" value="<% echo(pchfile) %>"><% /def %>
						<% def(imgfile) %><param name="image_canvas" value="<% echo(imgfile) %>"><% /def %>
						<% def(usercode) %><param name="send_header" value="usercode=<% echo(usercode) %>"><% /def %>
						<param name="poo" value="false">
						<param name="send_advance" value="true">
						<param name="thumbnail_width" value="100%">
						<param name="thumbnail_height" value="100%">
						<param name="tool_advance" value="true">
						<% def(security) %>
						<% def(security_click) %><param name="security_click" value="<% echo(security_click) %>"><% /def %>
						<% def(security_timer) %><param name="security_timer" value="<% echo(security_timer) %>"><% /def %>
						<param name="security_url" value="<% echo(security_url) %>">
						<param name="security_post" value="false">
						<% /def %>
					<% def(useneo) %>
						<param name="neo_confirm_unload" value="true">
					</applet-dummy>
					<% elsedef %>
					</applet>
					<% /def %>
				</div>
				<div class="palette">
					<form name="Palette">
						<% def(useneo) %>
						<fieldset>
							<legend>TOOL</legend>
							<input class="button" type="button" value="[L]" onclick="Neo.setToolSide(true)">
							<input class="button" type="button" value="[R]" onclick="Neo.setToolSide(false)">
						</fieldset>
						<% /def %>
						<fieldset>
							<legend>PALETTE</legend>
							<select class="form" name="select" size="13" onchange="setPalette()">
								<option>Temp palette</option>
								<% def(dynp) %><?php echo "\n"; ?>
								<% echo(dynp) %>
								<% /def %><?php echo "\n"; ?>
							</select><br>
							<input class="button" type="button" value="save" onclick="PaletteSave()"><br>
							<input class="button" type="button" value="make" onclick="PaletteNew()">
							<input class="button" type="button" value="
							rev." onclick="PaletteRenew()">
							<input class="button" type="button" value="delete
							" onclick="PaletteDel()"><br>
							<input class="button" type="button" value="
							bright+" onclick="P_Effect(10)">
							<input class="button" type="button" value="
							bright-" onclick="P_Effect(-10)">
							<input class="button" type="button" value="
							Invers" onclick="P_Effect(255)">
						</fieldset>
						<fieldset>
							<legend>MATRIX</legend>
							<select class="form" name="m_m">
								<option value="0">Overall</option>
								<option value="1">Current</option>
								<option value="2">Add</option>
							</select>
							<input type="button" class="button" name="m_g" value="GET" onclick="PaletteMatrixGet()">
							<input type="button" class="button" name="m_h" value="SET" onclick="PalleteMatrixSet()">
							<input type="button" class="button" name="1" value=" ? " onclick="PalleteMatrixHelp()"><br>
							<textarea class="form" name="setr" rows="1" cols="13" onmouseover="this.select()"></textarea>
						</fieldset>
					</form>
					<form name="grad">
						<fieldset>
							<legend>GRADATION</legend>
							<input type="checkbox" name="view" onclick="showHideLayer()">
							<input type="button" class="button" value=" OK " onclick="ChengeGrad()"><br>
							<select class="form" name="p_st" onchange="GetPalette()">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
								<option>10</option>
								<option>11</option>
								<option>12</option>
								<option>13</option>
								<option>14</option>
							</select>
							<input class="form" type="text" name="pst" size="8" onkeypress="Chenge_()" onchange="Chenge_()"><br>
							<select class="form" name="p_ed" onchange="GetPalette()">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
								<option>10</option>
								<option>11</option>
								<option selected>12</option>
								<option>13</option>
								<option>14</option>
							</select>
							<input class="form" type="text" name="ped" size="8" onkeypress="Chenge_()" onchange="Chenge_()"><div id="psft" style="position:absolute;width:100px;height:30px;z-index:1;left:5px;top:10px;"></div>
							<script type="text/javascript">
								if(DynamicColor) PaletteListSetColor();
							</script>
						</fieldset>
						<p class="c">DynamicPalette &copy;NoraNeko</p>
					</form>
				</div>
			</article>
			<% def(paint_mode) %>
			<section>
				<div class="thread">
					<hr>
					<div class="timeid">
						<form class="watch" action="index.html" name="watch">
							<p>
								PaintTime :
								<input type="text" size="24" name="count">
							</p>
							<script type="text/javascript">
								timerID = 10;
								stime = new Date();
								function SetTimeCount() {
									now = new Date();
									s = Math.floor((now.getTime() - stime.getTime())/1000);
									disp = '';
									if(s >= 86400){
										d = Math.floor(s/86400);
										disp += d+"day ";
										s -= d*86400;
									}
									if(s >= 3600){
										h = Math.floor(s/3600);
										disp += h+"hr ";
										s -= h*3600;
									}
									if(s >= 60){
										m = Math.floor(s/60);
										disp += m+"min ";
										s -= m*60;
									}
									document.watch.count.value = disp+s+"sec";
									clearTimeout(timerID);
									timerID = setTimeout('SetTimeCount()',250);
								}
								SetTimeCount();
							</script>
						</form>
					<hr>
					</div>
				</div>
			</section>
			<% /def %>
			<section>
				<div class="thread siihelp">
					<p>
						If you make a mistake and change the page or close the window, calm down and reopen the edit page with the same canvas width. Mostly left.
					</p>
					<h2>Basic behavior (probably this is the only feature you should remember)</h2>
					<section>
						<h3>Basic</h3>
						<section>
							<p>
								Right-click, ctrl + click, and alt + click work the same in PaintBBS.<br>
								Basically, the operation is completed with a single click or right click. (Except when using Bezier or copy)
							</p>
						</section>
						<h3>toolbar</h3>
						<section>
							<p>
								Most buttons on the toolbar can be clicked multiple times to switch between functions.<br>
								Right click to reverse. Right-click on other palette colors, mask colors, register the current status in the one-character save tool, switch layer display / non-display, etc.<br>
								On the contrary, you can retrieve the color of the palette and the state saved in the temporary save tool by clicking.
							</p>
						</section>
						<h3>Canvas part</h3>
						<p>
							Right click to dropper the color.<br>
							Right-click in the middle of processing such as Bezier or copy to reset.
						</p>
					</section>
					<h2>Special operation (a function that does not need to be used but is convenient if you get used to it)</h2>
					<section>
						<h3>toolbar</h3>
						<section>
							<p>
								The bar that changes the value changes slowly when it is moved out of the bar when dragging, so you can use it to make fine changes. Shift + click the palette to return the colors to their default state.
							</p>
						</section>
						<h3>Keyboard shortcuts</h3>
						<section>
							<ul>
								<li>[+] To enlarge [-] to reduce.</li>
								<li>Undo with [Ctrl + Z] or [Ctrl + U], start over with [Ctrl + Alt + Z] or [Ctrl + Y].</li>
								<li>Copy and reset Bezier with [Esc]. (Same for right-clicking)</li>
								<li>Free scrolling by dragging the canvas while holding down the space key.</li>
								<li>Change the line width by draging with Ctrl + Alt.</li>
							</ul>
						</section>
						<h3>Special usage of copy tool</h3>
						<section>
							<p>
								Currently, moving between layers is only copy and layer merge. To move by copying, first select the rectangle on the layer you want to move, then select the layer you want to move, and then continue the normal copy work. By doing so, you can move between layers.
							</p>
						</section>
						<h2>A brief description of the toolbar buttons and special features</h2>
						<section>
							<dl>
								<dt>Nib (normal pen, watercolor pen, text)</dt>
								<dd>
									Main freeline pen and text
								</dd>
								<dt>Nib 2 (tone, blur, etc.)</dt>
								<dd>
									Freeline pen that produces special effects
								</dd>
								<dt>Shapes (circles and rectangles)</dt>
								<dd>
									Shapes such as rectangles and circles
								</dd>
								<dt>Special (copy, layer combination, inversion, etc.)</dt>
								<dd>
									Copy is a tool that allows you to select, then drag, move, and copy.
								</dd>
								<dt>Mask mode specification (normal, mask, reverse mask)</dt>
								<dd>
									Disables the colors registered in the mask. The reverse mask is the opposite.<br>
									Normal is no mask. You can also change the mask color by right-clicking.
								</dd>
								<dt>Eraser (eraser pen, eraser square, all eraser)</dt>
								<dd>
									If you fill the transparent layer with white, the lower layer will not be visible, so when you want to erase the line of the upper layer, please erase it with this tool.<br>
									Erase All is a tool that makes everything transparent pixels.<br>
									If you want to use all erase, select this tool and click on the canvas.
								</dd>
								<dt>Designation of drawing method. (Handwriting, straight line, Bezier curve)</dt>
								<dd>
									The pen tip and drawing function are not specified.<br>
									And it applies only to freeline tools.
								</dd>
								<dt>Color palette states</dt>
								<dd>
									Click to get color. Right-click to register the color. Shift + click to default value.
								</dd>
								<dt>RGB bar and alpha bar</dt>
								<dd>
									Fine color changes and transparency changes. R is red, G is green, B is blue, and A is transparency.<br>
									The density of the tone can be changed by changing the value with the Alpha bar.
								</dd>
								<dt>Line width change tool</dt>
								<dd>
									When the line width is changed when the watercolor pen is selected, the default value is assigned to the alpha value.
								</dd>
								<dt>Line temporary save tool</dt>
								<dd>
									Get data by clicking. Right-click to register data. (Mask value is not registered)
								</dd>
								<dt>Layer tool</dt>
								<dd>
									Paint BBS has a structure in which two transparent canvases are stacked.<br>
									it is a tool that makes it possible to draw the main line on the top and the color on the bottom.<br>
									Since it is a type of thing called a normal layer, lines like those drawn with a pencil can be transparent.<br>
									Click to switch layers. Show / hide the selected layer by right-clicking.
								</dd>
							</dl>
						</section>
						<h2>Regarding posting</h2>
						<section>
							<p>
								When the picture is completed, post it with the post button. If the picture is posted successfully, it will jump to the specified URL. If it fails, it just reports that it failed and does not fly anywhere. If it was just heavy, please wait a moment and try posting again. At this time, it may be posted twice, but it is a process on the Web server or PHP side, so I'm not sure.
							</p>
						</section>
					</section>
				</div>
			</section>
			<!-- (========== PAINT MODE end ==========) -->
			<% /def %>
			<% /def %>
			<% def(pch_mode) %>
			<!-- (========== animation view mode ==========) -->
			<article id="appstage">
				<div class="app">
					<div style="width:<% echo(w) %>px; height:<% echo(h) %>px">
					<% def(paintbbs) %>
					<% def(type_neo) %>
					<applet-dummy code="pch.PCHViewer.class" archive="PCHViewer.jar,PaintBBS.jar" name="pch" width="<% echo(w) %>" height="<% echo(h) %>" mayscript>
						<% elsedef %>
					<applet code="pch.PCHViewer.class" archive="PCHViewer.jar,PaintBBS.jar" name="pch" width="<% echo(w) %>" height="<% echo(h) %>" mayscript>
					<% /def %>
					<% /def %>
					<% def(normal) %>
					<applet name="pch" code="pch2.PCHViewer.class" archive="PCHViewer.jar,spainter_all.jar" codebase="./" width="<% echo(w) %>" height="<% echo(h) %>">
					<% /def %>
						<% def(normal) %>
						<param name="res.zip" value="res.zip">
						<param name="tt.zip" value="tt_def.zip">
						<param name="tt_size" value="31">
						<% /def %>
						<param name="image_width" value="<% echo(picw) %>">
						<param name="image_height" value="<% echo(pich) %>">
						<param name="pch_file" value="<% echo(pchfile) %>">
						<param name="speed" value="<% echo(speed) %>">
						<param name="buffer_progress" value="false">
						<param name="buffer_canvas" value="false">
						<% def(type_neo) %>
						</applet-dummy>
						<% elsedef %>
						</applet>
						<% /def %>
					</div>
					<p>
						<a href="<% echo(pchfile) %>" target="_blank">Download</a> - Datasize : <% echo(datasize) %> byte
					</p>
					<p>
						<a href="javascript:close()">close</a>
					</p>
				</div>
			</article>
			<!-- (========== animation view mode end ==========) -->
			<% /def %>
			<% def(continue_mode) %>
			<!-- (========== CONTINUE MODE start ==========) -->
			<script type="text/javascript" src="loadcookie.js"></script>
			<section>
				<div class="thread">
					<figure>
						<img src="<% echo(picfile) %>">
						<figcaption><% echo(picfile) %><% def(painttime) %> PaintTime : <% echo(painttime) %><% /def %></figcaption>
					</figure>
					<hr class="hr">
					<form action="<% echo(self) %>" method="post">
						<input type="hidden" name="mode" value="contpaint">
						<input type="hidden" name="anime" value="true">
						<input type="hidden" name="picw" value="<% echo(picw) %>">
						<input type="hidden" name="pich" value="<% echo(pich) %>">
						<input type="hidden" name="no" value="<% echo(no) %>">
						<input type="hidden" name="pch" value="<% echo(pch) %>">
						<input type="hidden" name="ext" value="<% echo(ext) %>">
						<select class="form" name="ctype">
							<% def(ctype_pch) %><option value="pch">from animation</option><% /def %>
							<% def(ctype_img) %><option value="img">from picture</option><% /def %>
						</select>
						<select class="form" name="type">
							<option value="rep">replace</option>
							<option value="new">newpost</option>
						</select>
						<% def(select_app)%>

						<select name="shi" class="for_pc">
							<option value="neo">PaintBBS NEO</option>
							<% def(use_shi_painter) %><option value="1">Shi-Painter</option><% /def %>
							<% def(use_chickenpaint) %><option value="chicken">ChickenPaint</option><% /def %>
						</select>
						<% /def %>
						<% def(app_to_use) %>
						<input type="hidden" name="shi" value="<% echo(app_to_use) %>">
						<% /def %>

						<% def(use_select_palettes) %>
							Palette: <select name="selected_palette_no" title="Palette" class="form"><% echo(palette_select_tags) %></select>
							<% /def %>

						<% def(passflag) %>Pass<input class="form" type="password" name="pwd" size="8" value=""> <% /def %>
						<input class="button" type="submit" value="Draw more">
						<input type="hidden" name="is_mobile" id="is_mobile" value>
					</form>
					<style id="for_mobile"></style>

					<script>
						function is_mobile() {
						if (navigator.maxTouchPoints && ( window.matchMedia && window.matchMedia('(max-width: 533px)').matches))  return true;
						return false;
						}
						if(is_mobile()){
							document.getElementById("is_mobile").value = "true";
							document.getElementById("for_mobile").textContent=".for_pc{display: none;}";
						}
						</script>

					<ul>
						<% def(newpost_nopassword) %>
						<li>If this is a new post, you can draw the continuation without the delete password.</li>
						<% elsedef %>
						<li>To draw the continuation, you need the delete password when you drew it.</li>
						<% /def %>
						</ul>
				</div>
				<script type="text/javascript">
				l(); //LoadCookie
				</script>
			</section>
			<!-- (========== CONTINUE MODE end ==========) -->
			<% /def %>
		</main>
		<footer>
			<article class="copy">
				<!-- Copyright notice, do not delete -->
				<!-- GazouBBS v3.0 --><!-- futaba Kai 0.8 --><!-- POTI-board -->
				<p>
					<a href="https://pbbs.sakura.ne.jp/poti/?en=on" target="_blank" rel="nofollow noopener noreferrer" title="POTI-board EVO <% echo(verlot) %>">POTI-board EVO <% echo(ver) %></a>
					Web Style by <a href="https://pbbs.sakura.ne.jp/poti/?en=on" target="_blank" rel="nofollow noopener noreferrer" title="MONO-en <% echo(tver) %>">MONO-en</a>
				</p>
				<p>
					OriginalScript -
					<a href="http://www.punyu.net/" target="_blank" rel="nofollow noopener noreferrer" title="POTI-board (by PunyuNet)">POTI-board</a>
					<a href="http://www.2chan.net/" target="_blank" rel="nofollow noopener noreferrer" title="futaba.php v0.8 lot.031015 (by futaba)">futaba.php</a>
					(<a href="http://php.loglog.jp/" target="_blank" rel="nofollow noopener noreferrer" title="gazou.php v3.0 (by Let's PHP!)">gazou.php</a>custom )
				</p>
				<% def(paint) %>
				<p>
					OekakiApp - <a href="http://hp.vector.co.jp/authors/VA016309/" target="_blank" rel="nofollow noopener noreferrer" title="by Shi-chan">Shi-Painter</a>
					<a href="https://github.com/funige/neo/" target="_blank" rel="nofollow noopener noreferrer" title="by funige">PaintBBS NEO</a>
					<a href="https://github.com/thenickdude/chickenpaint" target="_blank" rel="nofollow noopener noreferrer" title="by Nicholas Sherlock">ChickenPaint</a>

				</p>
				<% /def %>
				<p>
					UseFunction -
					<a href="http://skinny.sx68.net/" target="_blank" rel="nofollow noopener noreferrer" title="Skinny.php (by Kuasuki)">Skinny.php</a>
					DynamicPalette <!-- http://wondercatstudio.com/ -->
				</p>
			</article>			
		</footer>
	</body>
</html>
