<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="<% echo(skindir) %>css/mono_main.css">
		<link rel="stylesheet" href="<% echo(skindir) %>css/mono_dark.css" id="css1" disabled>
		<link rel="stylesheet" href="<% echo(skindir) %>css/mono_deep.css" id="css2" disabled>
		<link rel="stylesheet" href="<% echo(skindir) %>css/mono_mayo.css" id="css3" disabled>
	
	<script>
		var colorIdx = GetCookie("colorIdx");
			switch (Number(colorIdx)) {
			case 1:
				document.getElementById("css1").removeAttribute("disabled");
				break;
			case 2:
				document.getElementById("css2").removeAttribute("disabled");
				break;
			case 3:
				document.getElementById("css3").removeAttribute("disabled");
			break;
		} 
		function SetCss(obj){
			var idx = obj.selectedIndex;
			SetCookie("colorIdx",idx);
			window.location.reload();
		}
		function GetCookie(key){
			var tmp = document.cookie + ";";
			var tmp1 = tmp.indexOf(key, 0);
			if(tmp1 != -1){
				tmp = tmp.substring(tmp1, tmp.length);
				var start = tmp.indexOf("=", 0) + 1;
				var end = tmp.indexOf(";", start);
				return(decodeURIComponent(tmp.substring(start,end)));
				}
			return("");
		}
		function SetCookie(key, val){
			document.cookie = key + "=" + encodeURIComponent(val) + ";max-age=31536000;";
		}
	</script>

		<style>.del_page form {display: inline-block;}
		.del_page {margin:6px 0;display: inline-block;}</style>
		<title><% echo(title) %></title>
	</head>
	<body>
		<header>
			<h1><a href="<% echo(self2) %>"><% echo(title) %></a></h1>
			<div>
				<a href="<% echo(home) %>" target="_top">[Home]</a>
				<a href="<% echo(self) %>?mode=admin">[Admin mode]</a>
			</div>
			<hr>
			<div>
				<nav class="menu">
					<a href="<% echo(self2) %>">[Top]</a>
					<% def(for_new_post) %>
					<a href="<% echo(self) %>?mode=newpost">[Post]</a>
					<% /def %>
					<a href="<% echo(self) %>?mode=catalog">[Catalog]</a>
					<a href="<% echo(self) %>">[Normal mode]</a>
					<a href="<% echo(self) %>?mode=piccom<% def(resno) %>&amp;resto=<% echo(resno) %><% /def %>">[Recover Images]</a>
					<a href="#footer" title="to bottom">[&darr;]</a>
				</nav>
			</div>
			<hr>
			<% def(n) %>
			<!-- Admin oekaki mode -->
			<% /def %>
			<% def(post_mode) %>
			<% def(regist) %>
			<script src="loadcookie.js"></script>
			<% /def %>
			<% def(admin) %><% def(rewrite) %><% elsedef %>
			<div class="epost">
				<form action="<% echo(self) %>" method="post" enctype="multipart/form-data">
					<p>
						<input type="hidden" name="useneo" value="true">
						width :<input name="picw" type="number" title="width" class="form" value="<% echo(pdefw) %>" min="300" max="<% echo(pmaxw) %>">
						height :<input name="pich" type="number" title="height" class="form" value="<% echo(pdefh) %>" min="300" max="<% echo(pmaxh) %>">
						<% def(use_select_palettes) %>
						Palette :<select name="selected_palette_no" title="Palette" class="form"><% echo(palette_select_tags) %></select>
						<% /def %>
						<% def(anime) %><label><input type="checkbox" value="true" name="anime" title="Save Playback" <% def(animechk) %><% echo(animechk) %><% /def %>>Save Playback</label><% /def %>
						<input name="pch_upload" type="file" accept="image/*,.pch,.spch,.chi" title="pch upload">
						<input type="hidden" name="mode" value="paint">
						<input type="hidden" name="admin" value="<% echo(admin) %>">
						<input class="button" type="submit" value="paint">
					</p>
				</form>
			</div>
			<% /def %><% /def %>
			<% /def %>
			<% def(n) %>
			<!-- /Admin oekaki mode -->
			<% /def %>
		</header>
		<main>
			<% def(post_mode) %>
			<!-- (========== POST MODE start ==========
			// NEW, OEKAKI, UPDATE
			) -->
			<% def(regist) %>
			<script src="loadcookie.js"></script>
			<% /def %>
			<section>
				<div class="thread">
					<h2 class="oekaki">post form<% def(admin) %> - ADMIN MODE-<% /def %></h2>
					<% def(pictmp) %>
					<div class="tmpimg">
						<% def(notmp) %>
						<p>Not OEKAKI image</p>
						<% /def %>
						<% def(tmp) %>
						<div>
							<% each(tmp) %>
							<figure>
								<img src="<% echo(tmp/src) %>">
								<figcaption><% echo(tmp/srcname) %>[<% echo(tmp/date) %>]</figcaption>
							</figure>
							<% /each %>
						</div>
						<% /def %>
					</div>
					<% /def %>
					<hr class="hr">
					<% def(ptime) %><p class="ptime">PaintTime : <% echo(ptime) %></p><% /def %>
					<form class="" action="<% echo(self) %>" method="post" enctype="multipart/form-data">
					<input type="hidden" name="token" value="<% def(token) %><% echo(token) %><% /def %>">
						<table>
							<tr>
								<td>Name<% def(usename) %><% echo(usename) %><% /def %></td>
								<td><input class="form" type="text" name="name" size="28" autocomplete="username"<% def(name) %> value="<% echo(name) %>"<% /def %>></td>
							</tr>
							<tr>
								<td>Mail</td>
								<td><input class="form" type="text" name="email" size="28" autocomplete="email" <% def(email) %> value="<% echo(email) %>"<% /def %>></td>
							</tr>
							<tr>
								 <td>URL</td><td>
									<input class="form" type="text" name="url" size="28" autocomplete="url"<% def(url) %> value="<% echo(url) %>"<% /def %>></td>
							</tr>
							<tr>
								<td>Sub<% def(usesub) %><% echo(usesub) %><% /def %></td>
								<td>
									<input class="form" type="text" name="sub" size="20" autocomplete="section-sub"<% def(sub) %> value="<% echo(sub) %>"<% /def %>>
									<input class="button" type="submit" value="Post">
									<% def(regist) %>
									<input type="hidden" name="mode" value="regist">
									<% /def %>
									<% def(rewrite) %>
									<input type="hidden" name="mode" value="rewrite">
									<input type="hidden" name="no" value="<% echo(rewrite) %>">
									<input type="hidden" name="pwd" value="<% echo(pwd) %>">
									<% /def %>
									<% def(admin) %>
									<input type="hidden" name="admin" value="<% echo(admin) %>">
									<% /def %>
									<% def(pictmp) %>
									<input type="hidden" name="pictmp" value="<% echo(pictmp) %>">
									<% /def %>
									<% def(ptime) %>
									<input type="hidden" name="ptime" value="<% echo(ptime) %>">
									<% /def %>
									<% def(resno) %>
									<input type="hidden" name="resto" value="<% echo(resno) %>">
									<% /def %>
									<input type="hidden" name="MAX_FILE_SIZE" value="<% echo(maxbyte) %>">
									<% def(ipcheck) %>Checking IP address ...<% /def %>
								</td>
							</tr>
							<tr>
								<td>Com<% def(usecom) %><% echo(usecom) %><% /def %></td>
								<td><textarea class="form" name="com" cols="48" rows="4" wrap="soft"><% def(com) %><% echo(com) %><% /def %></textarea></td>
							</tr>
							<% def(upfile) %>
							<tr>
								<td>UpFile</td>
								<td><input class="form" type="file" name="upfile" size="35" accept="image/*">
									<% def(hide_the_checkbox_for_nofile) %>
									<% elsedef %>
									[<label><input type="checkbox" name="textonly" value="on">No File</label>]
									<% /def %>
							</td>
							</tr>
							<% /def %>
							<% def(tmp) %>
							<tr>
								<td>Images</td>
								<td><select name="picfile">
								<% each(tmp) %><option value="<% echo(tmp/srcname) %>"><% echo(tmp/srcname) %></option><% /each %>
								</select></td>
							</tr>
							<% /def %>
							<% def(regist) %>
							<tr>
								<td>Pass</td>
								<td><input class="form" type="password" name="pwd" size="8" value="" autocomplete="current-password"> <small>(For editing and deleting)</small></td>
							</tr>
							<% /def %>
						</table>
						<% def(regist) %>
						<ul>
							<% def(upfile) %>
							<li>Attachable files type: GIF, JPG, PNG and WEBP.</li>
							<li>Images larger than width <% echo (maxw) %>px height <% echo (maxh) %>px will be displayed in reduced size.</li>
							<li>The maximum amount of posted data is <% echo(maxkb) %>KB. With sage function.</li>
							<% /def %>
							<% def(rewrite) %>
							<li>Cookies are not saved in edit mode. The position does not change even if sage is added.</li>
							<!-- <li>The trip will be regenerated, so leave it blank if you do not want to rename it.</li> -->
							<li>The maximum amount of posted data is <% echo(maxkb) %>KB. With sage function.</li>
							<% /def %>
						</ul>
						<% /def %>
					</form>
					<% def(regist) %>
					<script>
						l(); //LoadCookie
					</script>
					<% /def %>
				</div>
			</section>
			<!-- (========== POST MODE end ==========) -->
			<% /def %>
			<% def(admin_in) %>
			<!-- (========== ADMIN MODE -LOGIN- start ==========) -->
			<section>
				<div class="thread">
					<h2 class="oekaki">Admin mode</h2>
					<form action="<% echo(self) %>" method="post" class="adminin">
						<label><input type="radio" name="admin" value="update" checked>Update</label>
						<label><input type="radio" name="admin" value="del">Manage posts</label>
						<label><input type="radio" name="admin" value="post">Admin Post</label>
						<input type="hidden" name="mode" value="admin">
						<input class="form" type="password" name="pass" size="8">
						<input class="button" type="submit" value="Admin In">
					</form>
				</div>
			</section>
			<!-- (========== ADMIN MODE -LOGIN- end ==========) -->
			<% /def %>
			<% def(admin_del) %>
			<!-- (========== ADMIN MODE -DELETE- start ==========) -->
			<section>
				<div class="thread">
					<h2 class="oekaki">Admin mode</h2>
					<form action="<% echo(self) %>" method="post">
						<input type="hidden" name="admin" value="update">
						<input type="hidden" name="mode" value="admin">
						<input type="hidden" name="pass" value="<% echo(pass) %>">
						<input type="submit" value="UPDATE" class="button">
						Update the html file
					</form>
					<form action="<% echo(self) %>" method="post">
						<input type="hidden" name="mode" value="admin">
						<input type="hidden" name="admin" value="del">
						<input type="hidden" name="pass" value="<% echo(pass) %>">
						<p>Check the checkbox of the article you want to delete and press the delete button.</p>
						<input class="button" type="submit" value="DELETE">
						<input class="button" type="reset" value="RESET">
						<label>[<input type="checkbox" name="onlyimgdel" value="on">ImageOnly]</label>
						<table class="delfo">
							<tr>
								<th>Check</th>
								<th>No</th>
								<th>Time</th>
								<th>Subject</th>
								<th>Name</th>
								<th>Comment</th>
								<th>Host</th>
								<th>Image (Bytes) md5</th>
							</tr>
							<% def(del) %><% each(del) %>
							<tr>
								<td><input type="checkbox" name="del[]" value="<% echo(del/no) %>"></td>
								<td><% echo(del/no) %></td>
								<td><% echo(del/now) %></td>
								<td><% echo(del/sub) %></td>
								<td><% echo(del/name) %></td>
								<td><% echo(del/com) %></td>
								<td><% echo(del/host) %></td>
								<td><% def(del/clip) %><% echo(del/clip) %>(<% echo(del/size) %>)<br><% echo(del/chk) %><% /def %></td>
							</tr>
							<% /each %><% /def %>
						</table>
						<input class="button" type="submit" value="DELETE">
						<input class="button" type="reset" value="RESET">
					</form>
					<% def(del_page)%>
					<% each(del_page)%>
					<span class="del_page">[
					<form action="<% echo(self) %>" method="post" id="form_page<% echo(del_page/no) %>">
						<input type="hidden" name="mode" value="admin">
						<input type="hidden" name="admin" value="del">
						<input type="hidden" name="pass" value="<% echo(pass) %>">
						<input type="hidden" name="del_pageno" value="<% echo(del_page/no) %>">
						<% def(del_page/notlink)%>
						<% echo(del_page/pageno) %>
						</form>
					]</span>
						<% elsedef %>
						<a href="javascript:form_page<% echo(del_page/no) %>.submit()"><% echo(del_page/pageno) %></a></form>
					]</span>
					<% /def %>
						 
					<% /each %>
					<% /def % %>


					<p>&lt;&lt;Image all size : <% echo(all) %> KB &gt;&gt;</p>
				</div>
			</section>
			<!-- (========== ADMIN MODE -DELETE- end ==========) -->
			<% /def %>
			<% def(err_mode) %>
			<!-- (========== ERROR MODE start ==========) -->
			<section>
				<div class="thread">
					<h2 class="oekaki">ERROR</h2>
					<p class="err"><% echo(mes) %></p>
					<p><a href="#" onclick="javascript:window.history.back(-1);return false;">[Back]</a></p>
					<!-- <p><a href="<% echo(self2) %>">[reload]</a></p> -->
				</div>
			</section>
			<!-- (========== ERROR MODE end ==========) -->
			<% /def %>
		</main>
		<footer>
			<div class="copy">
				<!-- Copyright notice, do not delete -->
				<!-- GazouBBS v3.0 --><!-- futaba Kai 0.8 --><!-- POTI-board -->
				<p>
					<a href="https://paintbbs.sakura.ne.jp/poti/?en=on" target="_blank" rel="nofollow noopener noreferrer" title="POTI-board EVO <% echo(verlot) %>">POTI-board EVO <% echo(ver) %></a>
					Web Style by <a href="https://paintbbs.sakura.ne.jp/poti/?en=on" target="_blank" rel="nofollow noopener noreferrer" title="MONO-en <% echo(tver) %>">MONO-en</a>
				</p>
				<p>
					OriginalScript -
					<a href="http://www.punyu.net/" target="_blank" rel="nofollow noopener noreferrer" title="POTI-board (by PunyuNet)">POTI-board</a>
					<span title="futaba.php v0.8 lot.031015 (by futaba)">futaba.php</span>
					(<a href="http://php.loglog.jp/" target="_blank" rel="nofollow noopener noreferrer" title="gazou.php v3.0 (by Let's PHP!)">gazou.php</a>custom )
				</p>
				<% def(paint) %>
				<p>
					OekakiApp - <a href="http://hp.vector.co.jp/authors/VA016309/" target="_blank" rel="nofollow noopener noreferrer" title="by Shi-chan">Shi-Painter</a>
					<a href="https://github.com/funige/neo/" target="_blank" rel="nofollow noopener noreferrer" title="by funige">PaintBBS NEO</a>
					<a href="https://github.com/thenickdude/chickenpaint" target="_blank" rel="nofollow noopener noreferrer" title="by Nicholas Sherlock">ChickenPaint</a>

				</p>
				<% /def %>
				<p>
					UseFunction -
					<a href="http://skinny.sx68.net/" target="_blank" rel="nofollow noopener noreferrer" title="Skinny.php (by Kuasuki)">Skinny.php</a>
					DynamicPalette <!-- http://wondercatstudio.com/ -->
				</p>
			</div>			
		</footer>
		<script src="<% echo(skindir) %>jquery-3.5.1.min.js"></script>
		<script>
			window.onpageshow = function(){
				var $btn = $('[type="submit"]');
				//disbledを解除
				$btn.prop('disabled', false);
				$btn.click(function(){//送信ボタン2度押し対策
					$(this).prop('disabled',true);
					$(this).closest('form').submit();
				});
			}
		</script>
	</body>
</html>
