<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="<% echo(skindir) %>css/mono_main.css">
		<link rel="stylesheet" href="<% echo(skindir) %>css/mono_dark.css" id="css1" disabled>
		<link rel="stylesheet" href="<% echo(skindir) %>css/mono_deep.css" id="css2" disabled>
		<link rel="stylesheet" href="<% echo(skindir) %>css/mono_mayo.css" id="css3" disabled>
		<style>.input_disp_none{display: none;}</style>	
	
	<script>
		var colorIdx = GetCookie("colorIdx");
			switch (Number(colorIdx)) {
			case 1:
				document.getElementById("css1").removeAttribute("disabled");
				break;
			case 2:
				document.getElementById("css2").removeAttribute("disabled");
				break;
			case 3:
				document.getElementById("css3").removeAttribute("disabled");
			break;
		} 
		function SetCss(obj){
			var idx = obj.selectedIndex;
			SetCookie("colorIdx",idx);
			window.location.reload();
		}
		function GetCookie(key){
			var tmp = document.cookie + ";";
			var tmp1 = tmp.indexOf(key, 0);
			if(tmp1 != -1){
				tmp = tmp.substring(tmp1, tmp.length);
				var start = tmp.indexOf("=", 0) + 1;
				var end = tmp.indexOf(";", start);
				return(decodeURIComponent(tmp.substring(start,end)));
				}
			return("");
		}
		function SetCookie(key, val){
			document.cookie = key + "=" + encodeURIComponent(val) + ";max-age=31536000;";
		}
	</script>

		<title><% echo(title) %></title>
	</head>
	<body>
		<header>
			<h1><a href="<% echo(self2) %>"><% echo(title) %></a></h1>
			<div>
				<a href="<% echo(home) %>" target="_top">[Home]</a>
				<a href="<% echo(self) %>?mode=admin">[Admin mode]</a>
			</div>
			<hr>
			<div>
				<nav class="menu">
					<a href="<% echo(self2) %>">[Top]</a>
					<% def(for_new_post) %>
					<a href="<% echo(self) %>?mode=newpost">[Post]</a>
					<% /def %>
					[Catalog]
					<a href="<% echo(self) %>">[Normal mode]</a>
					<a href="<% echo(self) %>?mode=piccom<% def(resno) %>&amp;resto=<% echo(resno) %><% /def %>">[Recover Images]</a>
					<a href="#footer" title="to bottom">[&darr;]</a>
				</nav>
				<hr>
				<h2><span class="oyano"></span>Catalog mode</h2>
			</div>
		</header>
		<main>
			<div id="catalog">
				<hr>
				<div>
					<% each(y) %><% each(y/x) %><% def(y/x/no) %>
					<div>
						<% def(y/x/imgsrc) %>
						<p><a href="<% echo(self) %>?res=<% echo(y/x/no) %>" title="<% echo(y/x/sub) %> by <% echo(y/x/name) %>"><img src="<% echo(y/x/imgsrc) %>" alt="<% echo(y/x/sub) %> by <% echo(y/x/name) %>" loading="lazy"></a></p>
						<% /def %>
						<% def(y/x/txt) %>
						<p><a href="<% echo(self) %>?res=<% echo(y/x/no) %>" title="<% echo(y/x/sub) %> by <% echo(y/x/name) %>"><% echo(y/x/sub) %> by <% echo(y/x/name) %></a></p>
						<% /def %>
						<p>[<% echo(y/x/no) %>] <% echo(y/x/now) %><% def(y/x/updatemark) %><% echo(y/x/updatemark) %><% /def %><% def(y/x/id) %> ID:<% echo(y/x/id) %><% /def %></p>
					</div>
				<% /def %><% /each %><% /each %>
				</div>
				<hr>
			</div>
		</main>
		<footer id="footer">
			<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
			<div>
				<% def(notres) %>
				<p class="page">
					<% def(prev) %><a href="<% echo(prev) %>">≪BACK</a> |<% /def %> <% def(next) %><a href="<% echo(next) %>">NEXT≫</a> <% /def %>
					<% echo(paging) %>
				</p>
				<% /def %>
				<form class="delf" action="<% echo(self) %>" method="post">
					<p>
						No <input class="form" type="number" min="1" name="del[]" value="" autocomplete="off">
						<span class="input_disp_none"><input type="text" value="" autocomplete="username"></span>
						Pass <input class="form" type="password" name="pwd" value="" autocomplete="current-password">
						<select class="form" name="mode">
							<option value="edit" selected>Edit</option>
							<% def(userdel) %>
							<option value="usrdel">Delete</option>
							<% /def %>
						</select>
						<label>[<input type="checkbox" name="onlyimgdel" value="on">ImageOnly]</label>
						<input class="button" type="submit" value=" OK ">
					<span class="stylechanger">Color: 
						<select class="form" id="mystyle" onchange="SetCss(this);">
							<option>MONO</option>
							<option>Dark</option>
							<option>Deep</option>
							<option>MAYO</option>
					</select>
					</span>
				</p>
				</form>
				<script src="loadcookie.js"></script>
				<script>
					l(); //LoadCookie
				</script>
			</div>
			<div class="copy">
				<!-- Copyright notice, do not delete -->
				<!-- GazouBBS v3.0 --><!-- futaba Kai 0.8 --><!-- POTI-board -->
				<p>
					<a href="https://paintbbs.sakura.ne.jp/poti/?en=on" target="_blank" rel="nofollow noopener noreferrer" title="POTI-board EVO <% echo(verlot) %>">POTI-board EVO <% echo(ver) %></a>
					Web Style by <a href="https://paintbbs.sakura.ne.jp/poti/?en=on" target="_blank" rel="nofollow noopener noreferrer" title="MONO-en <% echo(tver) %>">MONO-en</a>
				</p>
				<p>
					OriginalScript -
					<a href="http://www.punyu.net/" target="_blank" rel="nofollow noopener noreferrer" title="POTI-board (by PunyuNet)">POTI-board</a>
					<span title="futaba.php v0.8 lot.031015 (by futaba)">futaba.php</span>
					(<a href="http://php.loglog.jp/" target="_blank" rel="nofollow noopener noreferrer" title="gazou.php v3.0 (by Let's PHP!)">gazou.php</a>custom )
				</p>
				<% def(paint) %>
				<p>
					OekakiApp - <a href="http://hp.vector.co.jp/authors/VA016309/" target="_blank" rel="nofollow noopener noreferrer" title="by Shi-chan">Shi-Painter</a>
					<a href="https://github.com/funige/neo/" target="_blank" rel="nofollow noopener noreferrer" title="by funige">PaintBBS NEO</a>
					<a href="https://github.com/thenickdude/chickenpaint" target="_blank" rel="nofollow noopener noreferrer" title="by Nicholas Sherlock">ChickenPaint</a>

				</p>
				<% /def %>
				<p>
					UseFunction -
					<a href="http://skinny.sx68.net/" target="_blank" rel="nofollow noopener noreferrer" title="Skinny.php (by Kuasuki)">Skinny.php</a>
					DynamicPalette <!-- http://wondercatstudio.com/ -->
				</p>
			</div>			
		</footer>
		<script>
		colorIdx=GetCookie('colorIdx');
		document.getElementById("mystyle").selectedIndex=colorIdx;
		</script>
	</body>
</html>
