<!DOCTYPE html>
<html lang="ja" id="search">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="<% echo(skindir) %>css/mono_main.css">
	<link rel="stylesheet" href="<% echo(skindir) %>css/mono_dark.css" id="css1" disabled>
	<link rel="stylesheet" href="<% echo(skindir) %>css/mono_deep.css" id="css2" disabled>
	<link rel="stylesheet" href="<% echo(skindir) %>css/mono_mayo.css" id="css3" disabled>

<script>
	var colorIdx = GetCookie("colorIdx");
		switch (Number(colorIdx)) {
		case 1:
			document.getElementById("css1").removeAttribute("disabled");
			break;
		case 2:
			document.getElementById("css2").removeAttribute("disabled");
			break;
		case 3:
			document.getElementById("css3").removeAttribute("disabled");
		break;
	} 
	function SetCss(obj){
		var idx = obj.selectedIndex;
		SetCookie("colorIdx",idx);
		window.location.reload();
	}
	function GetCookie(key){
		var tmp = document.cookie + ";";
		var tmp1 = tmp.indexOf(key, 0);
		if(tmp1 != -1){
			tmp = tmp.substring(tmp1, tmp.length);
			var start = tmp.indexOf("=", 0) + 1;
			var end = tmp.indexOf(";", start);
			return(decodeURIComponent(tmp.substring(start,end)));
			}
		return("");
	}
	function SetCookie(key, val){
		document.cookie = key + "=" + encodeURIComponent(val) + ";max-age=31536000;";
	}
</script>
<% def(imgsearch) %>
	<% else %>
	<style>
		.article{
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			padding: 3px 0;
			border-bottom: 1px dashed #8a8a8a;
			line-height: 3em;
		}
		img {
			max-width: 300px;
			margin: 12px 0 0;
		}
		</style>
	<% /def %>
<title><% echo(pageno) %> <% echo(title) %></title>
</head>
<body>
<div id="main">
	<div class="title">
	<h1><% echo(pageno) %> <% echo(h1) %></h1>
	</div>
<nav>
	<div class="menu">
	[<a href="./">Return to bulletin board</a>]
	<% def(imgsearch) %>
	 [<a href="?page=1&imgsearch=off<% echo(query_l) %>">Comments</a>]
	 <% else %>
	 [<a href="?page=1&imgsearch=on<% echo(query_l) %>">Images</a>]
	 <% /def %>
	 

	</div>
</nav>
<p></p>
<form method="get" action="./search.php">
<span class="radio">
<input type="radio" name="radio" id="author" value="1" <% echo(radio_chk1) %>><label for="author" class="label">Name</label>
<input type="radio" name="radio" id="exact" value="2" <% echo(radio_chk2) %>><label for="exact" class="label">Exact</label>
<input type="radio" name="radio" id="fulltext" value="3" <% echo(radio_chk3) %>><label for="fulltext" class="label">Body</label>
</span>
<br>
<% def(imgsearch) %>
<input type="hidden" name="imgsearch" value="on">
<% else %>
<input type="hidden" name="imgsearch" value="off">
<% /def %>
<input type="text" name="query" placeholder="Search Word" value="<% echo(query) %>">
<input type="submit" value="Search" />
</form>
<p></p>
<!-- 反復 -->
	<% def(comments) %>
	<% def(imgsearch) %>
	<div class="newimg">
		<ul><% each(comments) %><li class="catalog"><a href="<% echo(comments/link) %>" target="_blank"><img src="<% echo(comments/img) %>" alt="「<% echo(comments/sub) %>」イラスト/<% echo(comments/name) %><% echo(comments/postedtime) %>" title="「<% echo(comments/sub) %>」by <% echo(comments/name) %> <% echo(comments/postedtime) %>" loading="lazy"></a></li><% /each %></ul>
	</div>
	<% else %>
	<% each(comments) %>
	<div>
		<div class="article">
		<div class="comments_title_wrap">
			<h2><a href="<% echo(comments/link) %>" target="_blank"><% echo(comments/sub) %></a></h2>
			 <% echo(comments/postedtime) %><br><span class="name"><a href="?page=1&query=<% echo(comments/encoded_name) %>&radio=2" target="_blank"><% echo(comments/name) %></a></span></div>
			 <% def(comments/img) %>
			 <a href="<% echo(comments/link) %>" target="_blank"><img src="<% echo(comments/img) %>" alt="<% echo(comments/sub) %> by <% echo(comments/name) %>" loading="lazy"></a><br>
			 <% /def %>
			 <% echo(comments/com) %>
			 <div class="res_button_wrap">
				 <form action="<% echo(comments/link) %>" method="post" target="_blank"><input type="submit" value="Reply" class="res_button"></form><span class="page_top"><a href="#top">△</a></span>
		</div>
		</div>
	</div>
		<% /def %>
	<% /each %>
	<% /def %>
	<p></p>
	

<!-- 最終更新日時 -->
<% def(lastmodified) %>
<p>last modified: <% echo(lastmodified) %></p>
<% /def %>
<p>new postes <% echo(img_or_com) %>.</p>

<footer>
	<nav>
	<div class="leftbox">
	<!-- ページング -->
	<% echo(prev) %><% def(nxet) %> | <% echo(nxet) %><% /def %>	
	</div>
	<!-- 著作表示 消さないでください -->
	<div class="rightbox">- <a href="https://github.com/satopian/potiboard_plugin" target="_blank">search</a> -</div>
	<div class="clear"></div>
	</nav>
</footer>

</div>
</body>
</html>
